.component-root {
    display: grid;
    height: 100%;
    grid-template-columns: [left-pane] 600px [center-pane] auto [right-pane] 500px;
    justify-items: stretch;
}

.left-pane {
    display: grid;
    grid-column: left-pane;
    grid-template-rows: [to-vote-row] 40% [voted-row] 40% [abandoned-row] 20%;
}

.center-pane {
    display: flex;
    flex-direction: column;
}

.right-pane {
    display: grid;
    grid-column: right-pane;
}

.to-vote-row {
    grid-row: to-vote-row;
}

.voted-row {
    grid-row: voted-row;
    border-bottom: 1px;
}

.abandoned-row {
    grid-row: abandoned-row;
}

.poker-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}