.component-root {
    display: grid;
    height: 100%;
    grid-template-columns: [left-pane] 1fr [center-pane] 1.5fr;
    grid-column-gap: 10px;
    justify-items: stretch;
}

.left-pane {
    display: grid;
    grid-column: left-pane;
    grid-template-rows: [to-vote-row] 50vh [voted-row] 50vh;
    border-right: 1px solid lightgray;
}

.center-pane {
    display: flex;
    flex-direction: column;
}

.to-vote-row {
    grid-row: to-vote-row;
    overflow-y: auto;
    position: relative;
}

.voted-row {
    grid-row: voted-row;
    overflow-y: auto;
    position: relative;
}

.poker-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-story-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
    border-top: 1px solid lightgray;
}

.users-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 36px;
    align-items: center;
}

.users-container > * {
     margin: 10px 4px 4px 4px;
}    

.cards-overlay {
    background: #f4f4f4;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    font-size: large;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cards-alignment-container {
    position: relative;
}

.cards-overlay-info {
    margin-top: auto;
    margin-bottom: auto;
}

.voting-control-container {
    margin-left: 10px;
}