.component-root {
    display: grid;
    height: 100%;
    grid-template-columns: [left-pane] 1fr [center-pane] 1.5fr;
    grid-column-gap: 10px;
    justify-items: stretch;
}

.left-pane {
    display: grid;
    grid-column: left-pane;
    grid-template-rows: [to-vote-row] 40vh [voted-row] 40vh [abandoned-row] 20vh;
}

.center-pane {
    display: flex;
    flex-direction: column;
}

.to-vote-row {
    grid-row: to-vote-row;
    overflow-y: auto;
    position: relative;
}

.voted-row {
    grid-row: voted-row;
    overflow-y: auto;
    position: relative;
}

.abandoned-row {
    grid-row: abandoned-row;
    overflow-y: auto;
    position: relative;
}

.poker-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-story-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.users-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-bottom: 36px;
}

.users-container > * {
     margin: 10px 4px 4px 4px;
}    