.poker-card {
    background: #f8f8f8;
    border: 1px solid #d0d0d0;
    margin: 12px;
    width: 60px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background: #0078d4;
    color: white;
    border: 1px solid #f8f8f8;
}

.poker-card-title {
    font-size: large;
}