@import "../resources/Measurements.less";
@import "../resources/Borders.less";
@import "../resources/ColorsPalette.less";

.user-story-container {
    display: flex;
    flex-direction: column;
    margin-left: @base-margin;
    margin-top: @base-margin;
    border-top: @base-border;
}

// Prevents horizontal image overflow and taking over the whole UI
.user-story-container img {
    max-width: 100%;
}

.user-story-title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: @base-margin;
    margin-bottom: @margin-large;
    color: @theme-primary;
}