@import "../resources/Measurements.less";
@import "../resources/Borders.less";

.user-story-comment-editor {
    .ms-TextField {
        border: @base-border;
    }
    button {
        grid-column: 2;
        max-width: 150px;
        margin-top: @margin-small;
    }
}

.add-button {
    padding: @base-margin;

    .adding-spinner {
        margin-left: @margin-small;
    }
}