@import "../resources/Measurements.less";
@import "../resources/Borders.less";
@import "../resources/Colors.less";

.user-story-comment-editor {
    .ms-TextField-fieldGroup {
        border: @base-border;
    }
    button {
        grid-column: 2;
        max-width: 150px;
        margin-top: @margin-small;
    }

    label {
        grid-column: 2;
    }
}

.add-button {
    padding: @base-margin;

    .adding-spinner {
        margin-left: @margin-small;
    }
}

.save-shortcut-hint
{
    font-style: italic;
    color: @foreground-light;
}