@import "../resources/Measurements.less";
@import "../resources/Borders.less";
@import "../resources/Colors.less";

.user-story-comments {
    margin-top: @base-margin;
    gap: @margin-large 0;
}

.user-story-comment {
    border: @base-border;
    padding: 0 @base-margin @base-margin @base-margin;

    .user-display-name {
        font-weight: bold;
    }

    .body {
        padding-top: @margin-small;
    }
}