@import "../../resources/Measurements.less";
@import "../../resources/Borders.less";
@import "../../resources/Colors.less";

.component-root {
    display: grid;
    height: 100%;
    grid-template-columns: [left-pane] 1fr [center-pane] 1.5fr;
    grid-column-gap: 10px;
    justify-items: stretch;
}

.left-pane {
    display: grid;
    grid-column: left-pane;
    grid-template-rows: [to-vote-row] 100vh;
    border-right: @base-border;
}

.center-pane {
    display: flex;
    flex: 1;
    overflow: auto;
    flex-direction: column;
}

.scrollable-flex {
    min-height: min-content;
    display: flex;
    flex-direction: column;
}

.work-items-title-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 14px;
    margin-bottom: @margin-large;
}

.work-items-title-row > div {
    color: @foreground-light;
    font-size: small;
    font-weight: lighter;
}

.work-items-title-row > * {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: @margin-large;
}

.to-vote-row {
    grid-row: to-vote-row;
    overflow-y: auto;
    position: relative;
}

.voted-row {
    grid-row: voted-row;
    overflow-y: auto;
    position: relative;
}

.poker-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.users-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: @base-margin;
    margin-left: @base-margin;
    margin-bottom: @margin-extra-large;
    align-items: center;
}

.users-container > * {
     margin: 10px 4px 4px 4px;
}    

.cards-overlay {
    background: @background-lighter;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    padding-left: @margin-large;
    padding-right: @margin-large;
    cursor: pointer;
}

.cards-alignment-container {
    position: relative;
}

.cards-overlay-info {
    margin-top: auto;
    margin-bottom: auto;
}

.cards-overlay-title {
    font-weight: bold;
    margin-bottom: @margin-small;
}

.cards-overlay-info-work-item-title {
    font-style: italic;
}

.voting-control-container {
    margin-left: @base-margin;
    margin-bottom: @base-margin;
}

.vote-title-text {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: @base-margin;
}

.vote-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: @margin-large;
    margin-bottom: @margin-large;
}

.refresh-button {
    display: inline-flex;
    position: relative;
    top: 4px;
}